﻿@page
@model Exam12019.Pages.Restaurant.DeleteModel
@{
}

<h1>Confirm Delete Product</h1>
<p>
    <a href="@Url.Page("./Display")">Return to Display</a>
</p>


<form method="post">
    <p>Sure to Delete @Model.Name? </p>
    <button type="submit">Yes</button>
</form>