﻿@page
@model Exam12019.Pages.Restaurant.DisplayModel
@{
}

<div>
    <a href="/Auth/Logout">Logout</a>
</div>
<div>
    <a href="./Create">Insert Buku via Api</a>
</div>
<table>

    <thead>
        <tr>
            <th>ID Restaurant</th>
            <th>Name</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var restaurant in Model.Items)
        {
            <tr>
                <td>@restaurant.ID</td>
                <td>@restaurant.Name</td>
                <td>@restaurant.Address</td>
                <td>
                    <div>
                        <a href="@Url.Page("/Restaurant/Edit", new { IDFind = restaurant.ID })">Edit</a>
                    </div>
                    <div>
                        <a href="@Url.Page("/Restaurant/Delete", new { IDFind = restaurant.ID })">Delete</a>
                    </div>
                </td>

            </tr>
        }

    </tbody>
</table>