﻿@page "{IDFind:Guid}"
@model Exam12019.Pages.Restaurant.EditModel
@{
}

<p>
    <a href="@Url.Page("./Display")">Return to Display</a>
</p>
<table>
    <tr>
        <th>ID Restaurant</th>
        <th>Name</th>
        <th>Address</th>
    </tr>
    <tr>
        <td>@Model.IDFind</td>
        <td>@Model.Name</td>
        <td>@Model.Address</td>
    </tr>
</table>
<form method="post">
    
    <div>
        <label asp-for="FormRestaurant.Name"></label>
        <input asp-for="FormRestaurant.Name" />
        <span asp-validation-for="FormRestaurant.Name"></span>
    </div>
    <div>
        <label asp-for="FormRestaurant.Address"></label>
        <input asp-for="FormRestaurant.Address" />
        <span asp-validation-for="FormRestaurant.Address"></span>
    </div>
    <div>
        <button type="submit">Update</button>
    </div>

</form>