﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div>
        @if (User.Identity.IsAuthenticated == false)
        {
            <form method="post">
                <div>
                    <label asp-for="FormLogin.Username"></label>
                    <input asp-for="FormLogin.Username" />
                    @Html.ValidationMessageFor(Q => Q.FormLogin.Username)
                </div>

                <div>
                    <label asp-for="FormLogin.Password">Password: </label>
                    <input type="password" asp-for="FormLogin.Password" />
                    @Html.ValidationMessageFor(Q => Q.FormLogin.Password)
                </div>

                <div>
                    <button type="submit">Login</button>
                </div>
            </form>
        }
        else
        {
            <a href="@Url.Page("Auth/Logout")">Logout</a>
        }
    </div>
   </div>
