﻿@page
@model Exam12019.Pages.Reservation.AddReservationModel
@{
    ViewData["Title"] = "Create";
}

<form method="post">

    <p>@Model.SuccessMessage</p>
    <div>
        <label asp-for="FormReservation.Name"></label>
        <input asp-for="FormReservation.Name" />
        <span asp-validation-for="FormReservation.Name"></span>
    </div>
    <div>
        <label asp-for="FormReservation.Email"></label>
        <input asp-for="FormReservation.Email" />
        <span asp-validation-for="FormReservation.Email"></span>
    </div>
    <div>
        <label asp-for="FormReservation.ReservationTime"></label>
        <input asp-for="FormReservation.ReservationTime" />
        <span asp-validation-for="FormReservation.ReservationTime"></span>
    </div>

    <div>
        <button type="submit">Insert</button>
    </div>
    <div>
        <a href="./DisplayReservation">Display Reservation</a>
    </div>

</form>